
body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: "16px";
    font-weight: "Regular Size";
    line-height: 1.5;
}
.navigation{
    color: #2E2F42; 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02px;
    text-align: left;
}
.navigation:hover,
.navigation:focus {
    color: #4D5AE5;
    text-decoration: underline;
}
.contact {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.contact:hover,
.contact:focus {
    color: #404bbf;
}
.call {
color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.call:hover,
.ccall:focus {
    color: #404bbf;
}
h3 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
p {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.link {
    color: #4D5AE5;
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04px;
    text-align: center;
    cursor: pointer;
}
.link:hover,
.link:focus {
    color: #FFFFFF; 
    background-color: #404BBF;
}
.button-main {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
}
.button-main:hover,
.button-main:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.pictures {
top: 288px; 
left: 156px; 
padding: 0px 0px 32px 0px;
border: 1px;
}
.footer {
background-color: #2E2F42;
top: 1764px;
}
.text-fotter {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
top: 1904px;
left: 156px;
color: #F4F4FD;
}
.highlight-one {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}
.highlight-two {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
}
.background {
    background-color: #2E2F42;
}
.text-main {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.text-two {
    color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
}
.pictures-first {
    background-color: #E7E9FC;
}
.background-two {
background-color: #FFFFFF;
}
.background-three {
background-color: #F4F4FD;
}
.cards {
    background-color: #FFFFFF;
}
.topline {
    background-color: #E7E9FC;
}
.address {
    font-style: normal;
}
h2 {
    color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
}
.accent {
    color: #4D5AE5;
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}
.accent-two {
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}