:root {
--active: #404BBF;
--normal: #2E2F42;
--button: #4D5AE5;
--button-navigation: #E7E9FC;
--white: #FFFFFF;
--paragraphs: #434455;
--background: #F4F4FD;
}

body {
    color: var(--paragraphs);
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: "16px";
    line-height: 1.5;
}
.link {
    color: var(--normal);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--active);
}
.address .link {
    color: var(--paragraphs);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
}
.address .link:hover,
.address .link:focus {
    color: var(--active);
}
.name {
    color: var(--normal);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
.paragraph {
    color: var(--paragraphs);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.button {
    color: var(--button);
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
}
.button:hover,
.button:focus {
    color: var(--white); 
    background-color: var(--active);
}
.button-main {
    color: var(--white);
    background-color: var(--button);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
}
.button-main:hover,
.button-main:focus {
    color: var(--white);
    background-color: var(--active);
}
.footer {
background-color: var(--normal);
}
.text-fotter {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;

color: var(--background);
}
.logo link {
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--button);
}
.logo .accent {
    color: var(--normal);
}
.background {
    background-color: var(--normal);
}
.text-main {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.text-two {
    color: var(--normal);
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}
.pictures-first {
    background-color: var(--button-navigation);
}
.background-two {
background-color: var(--white);
}
.background-three {
background-color: var(--background);
}
.cards link {
    background-color: var(--white);
    text-decoration: none;
}
.topline {
    background-color: var(--button-navigation);
}
.address {
    font-style: normal;
}
.name-three {
    color: var(--normal);
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
}
.logo .studio {
color: var(--background);
}
.list {
    list-style: none;
}
.name-portfolio {
    color: var(--normal);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
.paragraph-two {
    color: var(--paragraphs);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;

}