:root {
--active: #404BBF;
--normal: #2E2F42;
--button: #4D5AE5;
--button-navigation: #E7E9FC;
--white: #FFFFFF;
--paragraphs: #434455;
--background: #F4F4FD;
}

body {
    color: var(--paragraphs);
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: "16px";
    font-weight: "Regular Size";
    line-height: 1.5;
}
.navigation{
    color:var(--normal); 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02px;
    text-align: left;
}
.navigation:hover,
.navigation:focus {
    color: var(--button);
    text-decoration: underline;
}
.contact {
    color: var(--paragraphs);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.contact:hover,
.contact:focus {
    color: var(--active);
}
h3 {
    color: var(--normal);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
p {
    color: var(--paragraphs);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.link {
    color: var(--button);
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04px;
    text-align: center;
    cursor: pointer;
}
.link:hover,
.link:focus {
    color: var(--white); 
    background-color: var(--active);
}
.button-main {
    color: var(--white);
    background-color: var(--button);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
}
.button-main:hover,
.button-main:focus {
    color: var(--white);
    background-color: var(--active);
}
.footer {
background-color:var(--normal);
top: 1764px;
}
.text-fotter {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;

color: var(--background);
}
.logo {
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}
.part-first {
    color: var(--button);
}
.part-second {
    color: var(--normal);
}
.background {
    background-color: var(--normal);
}
.text-main {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.text-two {
    color: var(--normal);
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
}
.pictures-first {
    background-color: var(--button-navigation);
}
.background-two {
background-color: var(--white);
}
.background-three {
background-color: var(--background);
}
.cards {
    background-color: var(--white);
}
.topline {
    background-color: var(--button-navigation);
}
.address {
    font-style: normal;
}
h2 {
    color: var(--normal);
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
}
.part-one {
    color: var(--button);
}
.part-two {
color: var(--background);
}